<div class="container-fluid">
  <div class="sec1">
    <div class="head1"><h2>UMS WEBSITE</h2></div>
    <div class="content1">
      <div class="content-link">
        <a href="https://www.ums.edu.my/v5/component/contact/contact/1" target="_blank">UMS official website</a>
      </div>
      <div class="content-link">
        <a href="https://smp.ums.edu.my/Default.aspx?vw=login" target="_blank">Sistem Maklumat Pelajar(SMP)</a>
      </div>
      <div class="content-link">
        <a href="https://smartv3.ums.edu.my/" target="_blank">Smart UMS</a>
      </div>
      <div class="content-link"><a href="https://fki.ums.edu.my/fki/" target="_blank">UMS FKI website</a></div>
      <div class="content-link"><a href="https://bpa.ums.edu.my/index.php/ms/home" target="_blank">BPA UMS</a></div>
    </div>
  </div>
  <div class="sec2">
    <div class="head2"><h2>HELP</h2></div>
    <div class="content2">
      <div>User Manual</div>
      <div>FAQ</div>
    </div>
  </div>
  <div class="sec3">
    <div class="head3"><h2>CONTACT US</h2></div>
    <div class="content3">
      <div class="content-link"><a href="https://api.whatsapp.com/send?phone=0176073050" target="_blank">Phone Number : 0176073050(ADMIN)</a></div>
      <div>Email : vernordmusran27@gmail.com</div>
      <div>Persatuan Mahasiswa FKI</div>
      <div>&copy; 2023 - Vernord Musran</div>
    </div>
  </div>
</div>
