
<h1>E-certificate</h1>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Total Participants</th>
      <th scope="col">E-Certificate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list;let key = index">
      <td data-cell="#">
        <span>{{key + 1}}</span>
      </td>
      <td data-cell="name">{{ item.name_activity }}</td>
      <td data-cell="location">{{ item.location }}</td>
      <td data-cell="total participants">{{ myData[key] }}</td>
      <td data-cell="E-Certificate"><!--a href="../assets/images/certificate/yeahh.rar" class="nav-link" download>Download E-certificate</!--a-->
        <ion-button (click)="downloadFolder()">Download</ion-button>
      </td>
    </tr>
  </tbody>
</table>


