
<h1>E-certificate</h1>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Total Participants</th>
      <th scope="col">E-Certificate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list;let count of myData;let key = index">
      <td>
        {{ key+1}}
      </td>
      <td>{{ item.title }}</td>
      <td>{{ item.location }}</td>
      <td>{{ count[1] }}</td>
      <td><a href="../assets/images/certificate/yeahh.zip" class="nav-link" download>Some Link</a></td>
    </tr>
  </tbody>
</table>


