.buang-peserta{
  background-color: red;
  box-shadow: 2px 2px 2px 2px black;
  padding: 10px 10px 10px 10px;
  border-radius: 25px 25px;
  color: white;
}
.buang-peserta:hover{
  background-color: rgb(255, 118, 118);
}
