
<body>
  <h1 style="text-align: center;">Sign Up New User</h1>

<div class="container">
  <form (ngSubmit)="onPostData(registerUser.value)" formControlName="registerUser">
    <div>
      <label for="" class="form-label">Fullname</label>
      <input type="text" class="form-control" name="fullname" required formControlName="fn">
    </div>
    <div class="mt-5">
      <label for="" class="form-label">Matric Number</label>
      <input type="text" class="form-control" name="matric-no" required formControlName="ma">
    </div>
    <div class="mt-5">
      <label for="" class="form-label">E-mail Address</label>
      <input type="text"
       class="form-control"
         name="email"
         email
         >
      <!--<span class="help-block" style="color: red;">Enter valid email.</span>-->
    </div>
    <div class="mt-5">
      <label for="" class="form-label">Password</label>
      <input type="password"
      class="form-control"
      name="password"
      >
    </div>
    <!--div class="mt-5">
      <label for="" class="form-label">Gender</label>
      <select name="" id="" class="form-select">
        <option value="" *ngFor="let gender of genders">{{ gender }}</option>
      </select>
    </div>-->
    <div class="mt-5">
      <button class="btn btn-success" type="submit" >Sign Up</button>
    </div>
  </form>

</div>
</body>
