input.ng-invalid{
  border-color: red;
}
.container{
  display: flex;
  justify-content: center;
}
.user-form{
  background-color: grey;
  min-width: 40%;
  display: grid;
  place-items: center;
  border-radius: 25px 25px;
  box-shadow: 2px 2px 4px 4px;
}
.submit-button{
  margin-top: 5px;
  margin-bottom: 10px;
}
.sign-up-footer{
  background-color: grey;
  display: grid;
  place-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
