<ion-accordion-group>
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active">
        <div class="ion-padding" style="background-color: grey;">
          <a href="" routerLink="/HomeLecturer" class="nav-link" style="color: white;">Home</a>
        </div>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <div class="ion-padding" style="background-color: grey;">
        <a href="" routerLink="/LectDashboard" class="nav-link" style="color: white;">Dashboard</a>
      </div>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Report</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <a routerLink="/ReportLecturer" class="nav-link">My Report</a>
          </div>
          <div class="ion-padding" slot="content">
            <a routerLink="/ReportLecturer" class="nav-link" href="#">Comment</a>
          </div>
        </ion-accordion>

    </li>
    <li class="nav-item" routerLinkActive="active">
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Events</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <a href="#" routerLink="" class="nav-link">Show Event</a>
        </div>
      </ion-accordion></li>
    <li class="nav-item" routerLinkActive="active">
      <div class="ion-padding" style="background-color: grey;">
        <a href="#" routerLink="/HomeLecturer" class="nav-link" style="color: white;">Announcement</a>
      </div>
    </li>
  </ul>
</ion-accordion-group>

