<div class="container">
  <form action="">
    <div>
      <label for="" class="form-label">Title</label>
      <input type="text" class="form-control">
    </div>
    <div>
      <label for="" class="form-label">Content</label>
      <input type="text" class="form-control">
    </div>
    <div>
      <label for="" class="form-label">Message</label>
      <input type="text" class="form-control">
    </div>
    <div>
      <ion-button color="success">Send</ion-button>
    </div>
  </form>
</div>
