<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-nav-bar></app-nav-bar>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-top-nav></app-top-nav>
  <ion-content class="ion-padding">
    <app-member></app-member>
  </ion-content>
  <ion-content class="ion-padding">
    <div>
      <ion-fab>
        <ion-fab-button>
          <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
          <div class="container" *ngFor="let item of profile">
            <ion-list>
              <ion-item>
                <ion-label>{{item}}</ion-label>
                <ion-button>Select</ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-fab-list>
      </ion-fab>
    </div>
  </ion-content>
</div>
