<div class="stu-form container mt-2 pb-2">
  <form action="" class="form" (ngSubmit)="sendUser(stuForm.value)" #stuForm="ngForm">
    <div>
      <label for="" class="form-label">Student Name</label>
      <input type="text" class="form-control" ngModel name="name" required>
    </div>
    <div>
      <label for="" class="form-label">Matric Number</label>
      <input type="text" class="form-control" ngModel name="mat_number" required>
    </div>
    <div>
      <label for="" class="form-label">Password</label>
      <input type="password" class="form-control" ngModel name="passwd" required>
    </div>
    <div>
      <label for="" class="form-label">Email Address</label>
      <input type="text" class="form-control" ngModel name="email" required>
    </div>
    <div>
      <label for="" class="form-label">Course Code</label>
      <select name="course_code" id="" class="form-select" ngModel required>
        <option  *ngFor="let item of programmes_list;let key = index" [value]="item">{{item}}</option>
      </select>
    </div>
    <div>
      <label for="" class="form-label">User Role</label>
      <select class="form-select" aria-label="Default select example" ngModel name="role" required>
        <option selected>Open this select menu</option>
        <option value="student">Student</option>
        <option value="PMFKIKK">PMFKIKK</option>
        <option value="PMFKIKAL">PMFKIKAL</option>
      </select>
    </div>
    <div class="mt-2">
      <button class="btn btn-submit" type="submit">Submit</button>
    </div>
  </form>
</div>
