<div class="container">
  <div class="box">
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Location</th>
          <th>Tema</th>
          <th>Tarikh</th>
          <th>Pengarah</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor = "let activity of activities">
          <td>{{ activity.acitivity_id }}</td>
          <td><a href="#">{{ activity.name_activity }}</a></td>
          <td><a href="#">{{ activity.location }}</a></td>
          <td><a href="#">{{ activity.tema }}</a></td>
          <td></td>
          <td>{{ activity.pengarah}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
