<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-nav-bar></app-nav-bar>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-top-nav></app-top-nav>
  <ion-content class="ion-padding" color="secondary">
    <header>
      <div>
        <h1>Dashboard</h1>
      </div>
    </header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="summary">
            <ion-label><h2 style="text-align: center;">Summary overall activity</h2></ion-label>
            <ion-button>Test</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="report-status">
            <ion-label><h2 style="text-align: center;">Report status</h2></ion-label>
            <ion-button>Print</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>

