<ion-breadcrumbs color="primary">
  <ion-breadcrumb href="announcement">Announcement</ion-breadcrumb>
</ion-breadcrumbs>
<h2>Announcement Section</h2>
<div class="container">
  <div class="list">
    <div class="list-text">
      <p>Click here to see your list of announcement</p>
    </div>
    <a href="" routerLink="list-of-announcement" class="btn btn-primary">See Announcement</a>
  </div>
  <div class="create">
    <div class="create-text">
      <p>Click here to create new announcement</p>
    </div>
    <a href="" routerLink="create-new-announcement" class="btn btn-primary">Create New Announcement</a>
  </div>
</div>
