.nav-link{
  color: black;
}
.nav-link:hover{
color: black;
}

.report-button{
 margin-top: 150px;
 margin-left: 450px;
}
.report-head{
  color: antiquewhite;
}
.your-report{
  background-color: grey;
}
.btn-create{
  box-shadow: 3px 3px #78e09e
}
.create-report{
  text-align: center;
}
ion-content{
  --ion-background-color: #ACBABF;
}

