<div class="shadow p-3 mb-5 bg-white rounded">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Date</th>
        <th>Vote</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list;let key = index">
        <td>
          {{key + 1}}
        </td>
        <td>
          {{item.title}}
        </td>
        <td>
          {{item.date}}
        </td>
        <td>
          <div><ion-button color="secondary" id="open-modal" hidden>Vote Member</ion-button></div>
          <button class="btn btn-warning" [routerLink]="['voting-process/',item.vote_id]" (click)="selectVoting(item.vote_id)">Vote Now</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <div>
    <p>You have no voting activity</p></div>
</ng-template>
