

.content-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: lightgray;
  box-shadow: 2px 2px 10px 2px;
}
.card{
  margin: 20px;
  box-shadow: 2px 2px 10px 2px;
}

/*.card>p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content{
  border-top: solid;
}

.message>p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/
