

.content-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  gap: 1rem;
  place-items: center;
}
.card{
  margin: 20px;
  box-shadow: 2px 2px 2px;
  background-color: hsl(86, 8%, 82%);
}

/*.card>p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content{
  border-top: solid;
}

.message>p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/
