.show-image{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.image-list>img{
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px 5px #888888;
}

.image-list>img:hover{
  box-shadow: 10px 2px 5px 5px #888888;
  cursor: pointer;
}
