<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <admin-navbar></admin-navbar>
</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-top-nav-admin></app-top-nav-admin>
  <ion-content class="ion-padding">
    <div class="container flex">
      <div class="row justify-content-between mt-5">
        <button class="btn btn-primary col-4" (click)="onStudent()">Student</button>
        <button class="btn btn-primary col-4" (click)="onLecturer()">Lecturer</button>
      </div>
    </div>
    <div *ngIf="student;hidden">
      <app-student-form></app-student-form>
    </div>
    <div *ngIf="lecturer;hidden">
      <app-lecturer-form></app-lecturer-form>
    </div>

  </ion-content>
</div>

