<div class="container flex">
  <div class="row justify-content-between mt-5">
    <button class="btn btn-primary col-4" (click)="onStudent()" hidden>Student</button>
    <button class="btn btn-primary col-4" (click)="onLecturer()" hidden>Lecturer</button>

    <ion-segment value="default" color="light">
      <ion-segment-button value="student" (click)="onStudent()">
        <ion-label>Student</ion-label>
      </ion-segment-button>
      <ion-segment-button value="lecturer" (click)="onLecturer()">
        <ion-label>Lecturer</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="student;hidden">
      <app-student-form></app-student-form>
    </div>
    <div *ngIf="lecturer;hidden">
      <app-lecturer-form></app-lecturer-form>
    </div>
  </div>
</div>
<!--div *ngIf="student;hidden">
  <app-student-form></app-student-form>
</!--div>
<div-- *ngIf="lecturer;hidden">
  <app-lecturer-form></app-lecturer-form>
</div-->

