ion-card{
  --color:black;
}
ion-card-header{
  display: flex;
  flex-flow: column-reverse;
}
.nav-link{
  color: black;
}
.report-container-list{
  display: grid;
  grid-template-columns:  repeat(auto-fit,minmax(260px,1fr));
}

