<div class="home-header">
  <div class="welcome">
    <h1>Welcome To PMFKI Management System {{ yourName }}</h1>
  </div>
</div>
<div class="mt-5 home-content">
  <div>
    <button class="home-nav-button" routerLink="/dashboard">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Go to dashboard to see any updates</ion-card-subtitle>
          <ion-card-title>Dashboard</ion-card-title>
        </ion-card-header>


      </ion-card>
    </button>
  </div>
  <div>
    <button routerLink="/event">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>To see upcoming activities</ion-card-subtitle>
          <ion-card-title>Event</ion-card-title>
        </ion-card-header>


      </ion-card>
    </button>
  </div>
  <div>
    <button class="home-nav-button" routerLink="/report">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Here to see your reports</ion-card-subtitle>
          <ion-card-title>Report</ion-card-title>
        </ion-card-header>


      </ion-card>
    </button>
  </div>
  <div>
    <button class="home-nav-button" routerLink="/announcement">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>To announce anything related acitivity</ion-card-subtitle>
          <ion-card-title>Announcement</ion-card-title>
        </ion-card-header>

      </ion-card>
    </button>
  </div>
  <div>
    <button class="home-nav-button" routerLink="/full-report">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>List of PMFKI reports</ion-card-subtitle>
          <ion-card-title>List Of Report</ion-card-title>
        </ion-card-header>


      </ion-card>
    </button>
  </div>
  <div>
    <button class="home-nav-button" routerLink="/voting-activity">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Voting for upcoming comittee</ion-card-subtitle>
          <ion-card-title>Vote</ion-card-title>
        </ion-card-header>
      </ion-card>
    </button>
  </div>
  <div>
    <button class="home-nav-button" routerLink="/e-cert">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>E-certificate</ion-card-subtitle>
          <ion-card-title>Get Certificate</ion-card-title>
        </ion-card-header>


      </ion-card>
    </button>
  </div>
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <button class="home-nav-button" routerLink="/dashboard">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Go to dashboard to see any updates</ion-card-subtitle>
              <ion-card-title>Dashboard</ion-card-title>
            </ion-card-header>


          </ion-card>
        </button>
      </ion-col>
      <ion-col>
        <button routerLink="/event">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>To see upcoming activities</ion-card-subtitle>
              <ion-card-title>Event</ion-card-title>
            </ion-card-header>


          </ion-card>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="home-nav-button" routerLink="/report">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Here to see your reports</ion-card-subtitle>
              <ion-card-title>Report</ion-card-title>
            </ion-card-header>


          </ion-card>
        </button>
      </ion-col>
      <ion-col>
        <button class="home-nav-button" routerLink="/announcement">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>To announce anything related acitivity</ion-card-subtitle>
              <ion-card-title>Announcement</ion-card-title>
            </ion-card-header>

          </ion-card>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col hidden>
        <button class="home-nav-button" routerLink="/full-report">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>List of PMFKI reports</ion-card-subtitle>
              <ion-card-title>List Of Report</ion-card-title>
            </ion-card-header>


          </ion-card>
        </button>
      </ion-col>
      <ion-col>
        <button class="home-nav-button" routerLink="/voting-activity">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Voting for upcoming comittee</ion-card-subtitle>
              <ion-card-title>Vote</ion-card-title>
            </ion-card-header>
          </ion-card>
        </button>
      </ion-col>
    </ion-row>
    <ion-row hidden>
      <ion-col>
        <button class="home-nav-button" routerLink="/e-cert">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>E-certificate</ion-card-subtitle>
              <ion-card-title>Get Certificate</ion-card-title>
            </ion-card-header>


          </ion-card>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</div>
