.home-header{
  text-align: center;
}

.home-content{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2em;
  padding: 0.8125em;
}

ion-content{
  --ion-background-color: rgba(67, 151, 151, 0.553);
}
ion-card{
  color: white;
  --ion-background-color: rgb(65, 62, 62);
  min-width: 260px;
}
ion-card-header{
  background-color: white;
  transition: width 5s;
}

ion-card-header:hover{
  background-color:rgb(65, 62, 62);
}
button{
  border-radius: 15px;
  box-shadow: 2px 2px 5px 5px #888888
}
