<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-thumbnail>
          <img src="./assets/images/profilepicture.jpeg" alt="">
        </ion-thumbnail>
        <ion-item>
          <ion-input>
              <span>NAME : </span> {{ name }}
          </ion-input>
          <ion-button>
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-input>
              Course Code : {{ course }}
          </ion-input>
          <ion-button>
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-input>
              Email : {{ email }}
          </ion-input>
          <ion-button>
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
