<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="image-preview">
          <img [src]=" imageURL || defaultImg" alt="" id="profilepicture">
        </div>
        <input type="file" (change)="showPreview($event)" accept="image/*">
        <button (click)="submit()">Submit Picture</button>
        <ion-item>
          <ion-input>
              <span>Name : </span> {{ name }}
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input>
              Email : {{ email }}
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input>
              Password : {{ password || 'Test' }}
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
