<div class="home-header">
  <div class="welcome">
    <h1></h1>
  </div>
</div>
<div class="mt-5 home-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <button routerLink="/dashboard">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Go to dashboard to see any updates</ion-card-subtitle>
              <ion-card-title>Dashboard</ion-card-title>
            </ion-card-header>


          </ion-card>
        </button>
      </ion-col>
      <ion-col>
        <button routerLink="/report">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Here to see your reports</ion-card-subtitle>
              <ion-card-title>Report</ion-card-title>
            </ion-card-header>


          </ion-card>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button routerLink="/event">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>To see upcoming activities</ion-card-subtitle>
              <ion-card-title>Event</ion-card-title>
            </ion-card-header>


          </ion-card>
        </button>
      </ion-col>
      <ion-col>
        <button routerLink="/announcement">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>To announce anything related acitivity</ion-card-subtitle>
              <ion-card-title>Announcement</ion-card-title>
            </ion-card-header>

          </ion-card>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
