<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-nav-bar></app-nav-bar>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-top-nav></app-top-nav>
  <ion-content class="ion-padding">
    <div class="home-header">
      <div class="welcome">
        <h1>Welcome To PMFKI Management System {{ yourName }}</h1>
      </div>
    </div>
    <div class="mt-5 home-content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <button>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Go to dashboard to see any updates</ion-card-subtitle>
                  <ion-card-title>Dashboard</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
            </button>
          </ion-col>
          <ion-col>
            <button>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Here to see your reports</ion-card-subtitle>
                  <ion-card-title>Report</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>To see upcoming activities</ion-card-subtitle>
                  <ion-card-title>Event</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
            </button>
          </ion-col>
          <ion-col>
            <button>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Contact of the in charge person</ion-card-subtitle>
                  <ion-card-title>Contact</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>To see upcoming activities</ion-card-subtitle>
                  <ion-card-title>Announcement</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
            </button>
          </ion-col>
          <ion-col>
            <button>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Contact of the in charge person</ion-card-subtitle>
                  <ion-card-title>List Of Report</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>To see upcoming activities</ion-card-subtitle>
                  <ion-card-title>Get Certificate</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
            </button>
          </ion-col>
          <ion-col>
            <button>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Contact of the in charge person</ion-card-subtitle>
                  <ion-card-title>Member</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</div>
