<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-nav-bar></app-nav-bar>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-top-nav></app-top-nav>
  <ion-content class="ion-padding">
    <div class="container">
      <form [formGroup]= "eventForm" (ngSubmit)="sendEvent()">
        <div>
          <label for="" class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name_activity">
        </div>
        <div>
          <label for="" class="form-label">Location</label>
          <input type="text" class="form-control" formControlName="location">
        </div>
        <div>
          <label for="" class="form-label">Tema</label>
          <input type="text" class="form-control" formControlName="tema">
        </div>
        <div>
          <label for="" class="form-label">Organizer</label>
          <input type="text" class="form-control"  formControlName="organizer">
        </div>
        <div>
          <label for="" class="form-label">Date</label>
          <input type="datetime-local" class="form-control"  formControlName="date">
        </div>
        <div class="pt-2">
          <button class="btn btn-success" type="submit">Add</button>
        </div>
      </form>
    </div>
  </ion-content>
</div>

