<ion-grid>
  <ion-row>
    <ion-col>
      <!--PMFKIKK-->
      <div style="border: 1px solid;align-items: center;text-align: center;height: 60vh;">
        <div style="border-bottom: 1px solid;">
          <h1>President of PMFKI UMS Induk</h1>
        </div>
        <div [hidden]="!click2">
          <div class="item">
            <ion-card color="dark" *ngFor="let item of presidentKK">
              <img alt="Silhouette of mountains" src="https://www.cnet.com/a/img/resize/80a6258ea6642c4c0331f7d82bbc41a7bea36440/hub/2022/08/24/34d4ade1-6ac2-4016-8113-182347693167/screenshot-2022-08-24-143409.png?auto=webp&fit=crop&height=1200&width=1200" />
              <ion-card-header>
                <ion-card-title>{{ item.username | uppercase}}</ion-card-title>
                <ion-card-subtitle>{{ item.user_id }}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                {{ item.email_id }}
              </ion-card-content>
            </ion-card>
            <div>
              <ion-button color="danger" (click) = "onClick3()">Delete</ion-button>
            </div>
          </div>
        </div>
        <div style="margin-top: 18vh;">
          <ion-button color="success" id="open-modal" [hidden]="click2">Select</ion-button>
        </div>
      </div>
    </ion-col>

    <ion-col>
      <!--PMFKI labuan-->
      <div style="border: 1px solid;align-items: center;text-align: center;height: 60vh;">
        <div style="border-bottom: 1px solid;">
          <h1>President of PMFKI UMSKAL</h1>
        </div>
        <div [hidden]="!click1">
          <div class="item">
            <ion-card color="dark" *ngFor="let item of presidentKAL">
              <img alt="Silhouette of mountains" src="https://www.cnet.com/a/img/resize/80a6258ea6642c4c0331f7d82bbc41a7bea36440/hub/2022/08/24/34d4ade1-6ac2-4016-8113-182347693167/screenshot-2022-08-24-143409.png?auto=webp&fit=crop&height=1200&width=1200" />
              <ion-card-header>
                <ion-card-title>{{ item.username | uppercase}}</ion-card-title>
                <ion-card-subtitle>{{ item.user_id }}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                {{ item.email_id }}
              </ion-card-content>
            </ion-card>
          </div>
          <div>
            <ion-button color="danger" (click) = "onClick2()">Delete</ion-button>
          </div>
        </div>
        <div style="margin-top: 18vh;" [hidden]="click1">
          <ion-button color="success" id="open-modalKAL">Select</ion-button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- PMFKI Modal -->
<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Select President of PMFKIKK</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true" (click)="checkValue(radioValue)">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-searchbar></ion-searchbar>
      <ion-item>
        <ion-label>
      </ion-label>
        <ion-radio-group slot="start" [(ngModel)]="radioValue">
          <ion-item *ngFor="let item of listUser">
            <ion-label class="listStudent">
              <ion-card>
                <img src="../assets/images/vernord.jpeg" alt="">
                <ion-card-header>
                  <ion-card-title>{{ item.username }}</ion-card-title>
                  <ion-card-subtitle color="dark">{{ item.course_id}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                {{ item.user_id }}
                </ion-card-content>
            </ion-card>
            </ion-label>
            <ion-radio [value]="item.user_id"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </ion-content>
    <button class="btn btn-primary" (click)="checkValue(radioValue)">Test</button>
  </ng-template>
</ion-modal>

<!-- PMFKI Labuan Modal -->

<ion-modal trigger="open-modalKAL" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Select President of PMFKILabuan</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true" (click)="checkValue1(radioValueLabuan)">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-searchbar></ion-searchbar>
      <ion-item>
        <ion-label>
      </ion-label>
        <ion-radio-group slot="start" [(ngModel)]="radioValueLabuan">
          <ion-item *ngFor="let item of listUser">
            <ion-label class="listStudent">
              <ion-card>
                <img src="../assets/images/vernord.jpeg" alt="">
                <ion-card-header>
                  <ion-card-title>{{ item.username }}</ion-card-title>
                  <ion-card-subtitle color="dark">{{ item.course_id}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                {{ item.user_id }}
                </ion-card-content>
            </ion-card>
            </ion-label>
            <ion-radio [value]="item.user_id"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </ion-content>
    <button class="btn btn-primary" (click)="checkValue1(radioValueLabuan)">Test</button>
  </ng-template>
</ion-modal>
